@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html {
  background-color: #FFFFFF;
}

h1, .h1, h2, .h2, h3, .h3 {

margin-bottom: 30px;
}

h3 > a {
  color: #9E1B34;
}

a {
color: #9E1B34;

}

.mir-main-nav nav .navbar-nav>.open>a, .mir-main-nav nav .navbar-nav>.open>a:hover, .mir-main-nav nav .navbar-nav>.open>a:focus {
background-color: #9E1B34;
}
.mir-main-nav nav .navbar-nav .dropdown-menu {
background-color: #9E1B34;

}
.mir-main-nav nav .navbar-nav .dropdown-menu:before {
border-color: transparent transparent #9E1B34 transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-color: #797979;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover, .mir-main-nav nav .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #a9a9a9;
} 

.result_body .result_list #hit_list .hit_item .hit_options .dropdown-menu > li > a:hover {
    background-color: #a9a9a9;
}
a:hover, a:focus {
    color: #a9a9a9;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a, .mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:hover, .mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:focus {
  background-color: #797979;
}
ul.cbList li li a {
  color: #9E1B34;
}
.col-md-9 {
  left: -21px;
  width: 85%;
}

.pagination {
   
    padding-left: 65px;
}
.result_body .result_list #hit_list .hit_item:hover .btn {
    border-color: #9E1B34;
}

.btn-primary {
color: #fff;
background-color: #9E1B34;
border-color: #9E1B34;
}

.mir-main-nav {
  box-shadow: none;
  background-color: #797979;
  color: #9E1B34;
}

#main_content{
  min-height:250px
}

a #logo_mir,a #logo_slogan{
  color:#9E1B34;
}

sup a {
  color: #9E1B34;
}

#powered_by {
  background-color: #444;
}

.jumbotron{
  background:-webkit-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:-o-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:-ms-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:-moz-linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  background:linear-gradient(0deg, #D7D7D7 0%, #FFF 44%, #CEBDBD 140%);
  border-bottom: 1px solid #B7B7B7;
  color: #2C3E50;
}

.jumbotron h1{
  color:#9E1B34;
  font-weight: bold;
  text-shadow: 0px 0px 10px #fff;
}

.jumbotron h2{
  color:#9E1B34;
  font-size:110%;
}

.jumbotwo h3 span{
  padding-right:30px;
  color: #9E1B34;
}

.flatmir-footer{
  color:#F0F0F0;
  background-color:#797979;
}

.flatmir-footer h4{
  color:#9E1B34
}

.intR2Dok_logo_small {
  float: left;
}

.summary p {
  font-size: 16px;
  margin-left: 10px;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  line-height: 180%;
}

.three_column {
  -webkit-column-width: 350px;
     -moz-column-width: 350px;
          column-width: 350px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
          margin-bottom: 70px;
}

/* Logo nur 2 statt 15 Pixel vom Rand entfernt
   Flucht liegt bei 13px vom linken Logo-Rand */
.navbar-brand {
  padding: 20px 2px;
}

/* Hauptmenü ohne linken (und rechten) Rand*/
.mir-main-nav .navbar-nav {
  margin: 0px -15px;
}
.mir-main-nav .navbar-nav a {
  color: #f3f3f3;
}

.mir-main-nav nav .navbar-nav > li > a:hover {
  background-color: #A9A9A9;
}
.navbar-form .form-group {
    margin-bottom: 0px;
}

.jumboHome {
  border-bottom: 1px solid #bb0734;
}
.jumboHome h1 {
  margin-top: 75px;
}
.jumboHome h2 {
  margin-top: 67px;
  color: #bb0734;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .180em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.internal_links.institutions li {
  float: left;
  margin-bottom: 20px;
}
.internal_links.institutions .even_entry {
  float: right;

}
.internal_links.institutions .even_entry li:after {
  clear: both;
}
.internal_links.institutions #dfg img {
  margin-top: 17px;
}

#searchInput {
    color: #f3f3f3;
    background-color: #a9a9a9;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0 20px 0 20px;
    height: 60px;
    width: 300px;
    border-left: 1px solid #f3f3f3;
    float: right;
}
.btn-flat {
    color: #bb0734;
    background-color: #a9a9a9;
    border-none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 60px;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
.btn-flat .fa-search {
    font-size: 20px;
}
.mir-main-nav .searchfield_box .navbar-form .btn {
  margin-top: 0px;
}
.mir-main-nav .searchfield_box {
  margin: 0px 0px 0px;
}
.mir-prop-nav {
    margin: 0px 0px 0px;
}
.form-control::-moz-placeholder{
    color:#c3c3c3;
}
.form-control:-ms-input-placeholder{
    color:#c3c3c3;
}
.form-control::-webkit-input-placeholder{
    color:#c3c3c3;
}
#searchInput.form-control::-moz-placeholder{
    color: #f3f3f3;
}
#searchInput.form-control:-ms-input-placeholder{
    color: #f3f3f3;
}
#searchInput.form-control::-webkit-input-placeholder{
    color: #f3f3f3;
}


/* sm: tablets, 768px and less ***********************************************/
@media (max-width: 991px) {
  .jumboHome h1 img {
      width: 64%;
  }
}

/* md: up to 992 px *********************************************************/
@media (min-width: 992px) {
  .jumboHome {
    height: 225px;
  }
  .jumboHome h1 img {
    width: 100%;
  }
}

/* lg: up to 1200 px ********************************************************/
@media (min-width: 1200px) {
  .jumboHome h1 img {
    width: 478px;
  }
}